@{
    ViewData["Title"] = "SignalR Stream Processor";
}

<div>
    <div class="row">
        <div class="col-10">
        </div>
        <div class="col-2">
            <h2 class="mb-2 text-right"><span id="userCount"></span></h2>
        </div>
    </div>

    <div class="container my-0">
        <div class="p-1 text-center bg-body-tertiary rounded-3">
            <h3 class="">Total Characters: <span id="totalCharacters" class="display-6"></span></h3>
            <h3 class="">Total Words: <span id="totalWords" class="display-6"></span></h3>
        </div>
    </div>

    <div class="row mb-3 mt-2 text-center">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-6 col-lg-6">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">5 Largest Words</h4>
                        </div>
                        <div class="card-body text-start">
                            <span id="largestWords" class="list-unstyled"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-6">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">5 Smallest Words</h4>
                        </div>
                        <div class="card-body text-start">
                            <span id="smallestWords" class="list-unstyled"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-6">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">10 Most Frequent Words</h4>
                        </div>
                        <div class="card-body text-start">
                            <span id="mostFrequentWords" class="list-unstyled"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-6">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">All Character Frequencies</h4>
                        </div>
                        <div class="card-body text-start">
                            <span id="charFrequencies" class="list-unstyled"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Streamed Data</h4>
                        </div>
                        <div class="card-body text-start">
                            <p id="streamedData" class=""></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/streamHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.start().then(function () {
        console.log("SignalR Connected.");
    }).catch(function (err) {
        return console.error(err.toString());
    });


    connection.on("UpdateUserCount", function (count) {
        document.getElementById("userCount").innerText = "Live users: " + count;
    });


    connection.on("ReceiveStreamData", function (data) {        
        console.log(data);
        $('#liveUserCount').text(data.liveUserCount);
        $('#totalCharacters').text(data.totalCharacters);
        $('#totalWords').text(data.totalWords);
        $('#streamedData').text(data.liveData);

        var largestWordsList = [];
        for (var word in data.largestWordsWithCounts) {
            largestWordsList.push(word);
        }

        $('#largestWords').html("<li>" + largestWordsList.join("</li><li>") + "</li>");

        var smallestWordsList = [];
        for (var word in data.smallestWordsWithCounts) {
            smallestWordsList.push(word);
        }

        $('#smallestWords').html("<li>" + smallestWordsList.join("</li><li>") + "</li>");

        var mostFrequentList = [];
        for (var word in data.mostFrequentWords) {
            mostFrequentList.push(word + " (" + data.mostFrequentWords[word] + ")");
        }
        $('#mostFrequentWords').html("<li>" + mostFrequentList.join("</li><li>") + "</li>");


        var charFreqList = $('#charFrequencies');
        charFreqList.empty();

        var charFrequentList = [];
        for (var word in data.characterFrequencies) {
            charFrequentList.push(word + " (" + data.characterFrequencies[word] + ")");
        }
        $('#charFrequencies').html("<li>" + charFrequentList.join("</li><li>") + "</li>");

    });
</script>